    <footer class="main_footer">
        <div class="about">
            <h3>Hakkımızda</h3>

            <a href="{% url 'amac_kapsam' %}" >Amaç ve Kapsam</a>
            <a href="{% url 'misyonumuz' %}" >Etik İlkeler ve Yayım Politikası</a>
            <a href="{% url 'etik_ilkeler' %}" >Misyonumuz</a>
            <a href="{% url 'yazim_kurallari' %}" >Yazım Kuralları</a>

        </div>

        <div class="socials">
            <h3>Sosyal Media</h3>
            <a href="https://www.instagram.com/sav.enstitu/">Instagram</a>
            <a href="https://www.youtube.com/@SavEnst%C4%B1tu">Youtube</a>
            <a href="https://www.linkedin.com/in/savdergi/">Sav Enstitü</a>
            <a href="https://www.linkedin.com/company/sav-hukuk-ara%C5%9Ft%C4%B1rmalar%C4%B1-dergisii/">Sav Dergi</a>
        </div>
    </footer>