<footer class="main_footer">
        <div class="about">
            <h3>Hakkımızda</h3>

            <a href="{% url 'amac_kapsam' %}" >Amaç ve Kapsam</a>
            <a href="{% url 'misyonumuz' %}" >Etik İlkeler ve Yayım Politikası</a>
            <a href="{% url 'etik_ilkeler' %}" >Misyonumuz</a>
            <a href="{% url 'yazim_kurallari' %}" >Yazım Kuralları</a>

        </div>

        <div class="socials">
            <h3>Sosyal Media</h3>
            <a href="https://www.instagram.com/savdergi/">Instagram</a>
        </div>
    </footer>