<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sav Dergi</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'savDergi/media/sav-dergi-logo.png'%}">
    <link rel="stylesheet" href="{% static 'savDergi/css/main.css' %}">
    {% if page_css %}
        <link rel="stylesheet" href="{% static page_css %}">
    {% endif %}
</head>
<body>

    <main>

        {% include 'navbar.html' %}

        {% block content %}

        {% endblock content %}

        {% include 'footer.html' %}

    </main>

</body>
</html>