<nav class="main_background">


    <div class="navbar">

        {% load static %}
        <img class="navbar_logo" src="{% static 'savDergi/media/sav-dergi-logo.png' %}" alt="Sav Dergi">

        <ul class="navbar_list">
            <li class="navbar_list-element">
                <span>Ana Sayfa</span>
            </li>

            <li class="navbar_list-element">
                <span>Amaç ve Kapsam</span>
            </li>

            <li class="navbar_list-element">
                <span>Misyonumuz</span>
            </li>

            <li class="navbar_list-element">
                <span>Etik İlkeler ve Yayım Politikası</span>
            </li>

            <li class="navbar_list-element">
                <span>Yazım Kuralları</span>
            </li>
        </ul>


    </div>
</nav>