<nav class="navbar">

    {% load static %}
    <figure class="navbar_figure">
        <a href="{% url 'home' %}">
        <img class="navbar_logo" src="{% static 'savDergi/media/sav-dergi-logo.png' %}" alt="Sav Dergi">
        </a>
    </figure>
    
    <div class="navbar_button"></div>
    
    <ul class="navbar_list">
        <li class="navbar_list-element">
            <a href="{% url 'home' %}">Ana Sayfa</a>
        </li>

        <li class="navbar_list-element navbar_kurumsal">
            <a> Kurumsal</a>
            <ul class="navbar_kurumsal-dropdown hidden">

                <li class="navbar_list-element navbar_dropdown-element">
                    <a href="{% url 'biz_kimiz' %}">Biz Kimiz</a>
                </li>

                <li class="navbar_list-element navbar_dropdown-element">
                    <a href="{% url 'misyonumuz' %}">Misyonumuz</a>
                </li>

                <li class="navbar_list-element navbar_dropdown-element">
                    <a href="{% url 'etik_ilkeler' %}">Etik İlkeler ve Yayım Politikası</a>
                </li>

                <li class="navbar_list-element navbar_dropdown-element">
                    <a href="{% url 'yazim_kurallari' %}">Yazım Kuralları</a>
                </li>

                <li class="navbar_list-element navbar_dropdown-element">
                    <a href="{% url 'hukukcu_portre' %}">Bir Hukukçunun Portresi</a>
                </li>

                <li class="navbar_list-element navbar_dropdown-element">
                    <a href="{% url 'metodoloji' %}">Metodoloji Eğitimleri</a>
                </li>



            </ul>
        </li>

        <li class="navbar_list-element">
            <a href="{% url 'dergi' %}">Dergi</a>
        </li>

        <li class="navbar_list-element">
            <a href="{% url 'sava' %}">Stajyer Avukatlık Atöylesi (SAVA)</a>
        </li>

        <li class="navbar_list-element">
            <a href="{% url 'konferanslar' %}">Konferanslar</a>
        </li>

        <li class="navbar_list-element">
            <a href="{% url 'galeri' %}">Galeri</a>
        </li>


    </ul>


</nav>

