{% extends 'main.html' %}

{% block content %}

    <div class="biz-kimiz_container">

        <h2 class="biz-kimiz_h2">Sav Hukuk Araştırmaları Enstitüsü Nedir?</h2>

        <p class="biz-kimiz_p">Günümüz akademik dünyasında özellikle Anadolu’daki üniversitelerde lisans seviyesindeki öğrenciler, akademik yazım ve araştırma süreçlerine uzak kalmaktadırlar. Bu uzak kalış; öğrencilere, lisans eğitimi sona erdikten sonra yüksek lisans ve doktora süreçlerinde bilimsel eser meydana getirme konusunda zorluk çıkarmaktadır.</p>
        <p class="biz-kimiz_p">Bu bağlamda bir araya gelen birkaç Çukurova Hukuk Fakültesi Öğrencisi ve Akademisyeni olarak hedeflerimizi gerçekleştirmek üzere aşağıdaki projelere imza attık.</p>

        <h2 class="biz-kimiz_h2">Sav Hukuk Araştırmaları Enstitüsünün Projeleri</h2>

        <h4 class="biz-kimiz_h4">Metodoloji Eğitimleri ve Sav Hukuk Araştırmaları Dergisi (Sav Dergi)</h4>

        <p class="biz-kimiz_p">Sav Hukuk Araştırmaları Enstitüsü ile hedeflediğimiz lisans seviyesinde öğrencileri bu süreçlere dahil etmek ve aşina kılmaktır. Bu kapsamda sağladığımız “metodoloji eğitimleri” ile alanında uzman akademisyenler ile bu süreçleri öğrenen öğrenci kendisine rehberlik edecek gönüllü akademisyen ile ortaya bir eser koyarak söz konusu eğitimlerde öğrendiği teorik bilgiyi pratiğe dökme imkânı bulacak, bilim dünyasına bebek adımlarını bu proje ile atacaktır. Genç yazarların yazıları yine akademisyenler tarafından kontrol edildikten sonra “Sav Hukuk Araştırmaları Dergisi” adını verdiğimiz -ve ilk sayısını Ocak 2025’te yayınlamayı düşündüğümüz- elektronik formattaki dergide yayınlanacaktır. </p>
        <p class="biz-kimiz_p">2023-2024 eğitim öğretim sezonunda “metodoloji eğitimlerimizin” ilk ve ikinci etabını gerçekleştirdik. Dörder haftalık iki seferde gerçekleştirdiğimiz bu eğitimlerde “Bilimsel Araştırma Yöntemleri, Makale Konusu Nasıl Seçilir, Makale Planı Oluşturma, Makalede Sınırlar Neden Önemli, Atıf Usulleri, İntihal ve İntihalden Kaçınma Yolları, Makale Sistematiği Oluşturma ve Akademik Çalışmalarda Interdisipliner Yaklaşım” konulu eğitimler gerçekleştirdik. </p>
        <p class="biz-kimiz_p">Ayrıca eğitimlere düzenli katılan öğrencileri takip sürecimiz devam etmekle birlikte öğrenciler, ilk sayımız için makale yazma ve mahkeme kararı çevirileri yapmaktadırlar.</p>

        <h4 class="biz-kimiz_h4">Bir Hukukçunun Portresi (Röportaj Serisi)</h4>

        <p class="biz-kimiz_p">"Bir Hukukçunun Portresi" adlı video formatlı röportaj serimizde, alanında uzman hukukçular konuk olarak deneyimlerini hukuk öğrencileri ve gelecekteki hukuk öğrencileriyle paylaşmayı hedefliyoruz. Tamamı ile kendi imkanlarımızla hazırlanan serimize konuk olan meslek büyüklerimiz aşağıda yer almaktadır:</p>

        <div class="biz-kimiz_konuklar">
            <p class="biz-kimiz_p">Prof. Dr. Ömer KORKUT</p>
            <p class="biz-kimiz_p">Doç. Dr. Dursun Ali Demirboğa</p>
            <p class="biz-kimiz_p">Av. Veli KÜÇÜK</p>
            <p class="biz-kimiz_p">Yüreğir Kaymakamı Mehmet AKSU</p>
        </div>


        <h4 class="biz-kimiz_h4">Meslek Söyleşileri</h4>

        <p class="biz-kimiz_p">"Ombudsmanlık Kulübü ile ortaklaşa düzenlediğimiz etkinlikler kapsamında, Adana 1. Ağır Ceza Mahkemesi Heyeti ve Cumhuriyet Savcısı İbrahim Kadir Alptekin ile iki ayrı meslek söyleşisi gerçekleştirdik. Her iki etkinlik de katılımcıların hukuk dünyasına dair derinlemesine bilgi edinmelerine, profesyonel yaşantılarını şekillendirecek ipuçları almalarına olanak tanıdı. Bu söyleşiler, özellikle hukuk öğrencileri için mesleki farkındalık yaratmayı ve adaletin farklı yönlerini anlamalarını sağlamayı hedefledi.</p>

        <h4 class="biz-kimiz_h4">Dış Paydaş İlişkileri</h4>

        <p class="biz-kimiz_p">Güzelliğin, bilimin ve irfanın paylaşıldıkça çoğaldığına inanıyoruz. Bu sebeple Sav’ın dış paydaş ilişkilerinde aktif rol almasını sağlamaya çalışıyoruz. Bu kapsamda bölgemizde bulunan Çağ Üniversitesi ve Alparslan Türkeş Bilim ve Teknoloji Üniversitesi’ne ziyaretlerde bulunarak oradaki arkadaşlarımızı da Sav’ın etkinliklerine katkıda bulunmaya, bu üniversitelerde Sav’ın bir temsilciliğini bulundurmaya ve birlikte projeler geliştirmeye çağırıyoruz. İşbu üniversitelerde görev yapan akademisyenlerle fikir teatisi yaparak projeler geliştiriyoruz. Sav’ın Üniversiteler arası bir köprü vazifesi üstlenmesini temenni ediyoruz ve bu gaye ile çalışıyoruz.</p>

        <h4 class="biz-kimiz_h4">Stajyer Avukatlık Atölyesi (SAVA)</h4>

        <p class="biz-kimiz_p">Hukuk mesleklerini bir bütün olarak görmekteyiz. İyi bir hukukçu hem teoriyi iyi bilmelidir hem de pratikten uzakta kalmamalıdır. Müfredatı hazır olan ancak henüz hayata geçmemiş olan bu projemiz ile avukatlık yapmak isteyen arkadaşlarımıza “bir ön staj” mahiyetinde eğitim sağlamayı amaçlıyoruz. 8 Hafta sürmesini planladığımız ve her hafta farklı bir avukatın konuk olduğu bu atölyelerde okulumuza konuk ettiğimiz ve avukatlık mesleğini icra eden meslek büyüklerimizin hem mesleki tecrübesinden hem de mesleki bilgilerinden faydalanmak istiyoruz. </p>

        <h4 class="biz-kimiz_h4">Kadın ve Çocuk Hakları Birimimiz (BİRGE)</h4>

        <p class="biz-kimiz_p">Henüz faal duruma geçmemiş olan bu birimimiz, toplumda baş göstermekte olan aile içi şiddet konusunda hukuki ve manevi destek sağlama noktasında çalışmalar yapacaktır. İlk aşamada sadece bilinçlendirme çalışmaları yapmasını planladığımız birimimizin daha sonra korunmaya ihtiyaç duyan kadın ve çocuklara maddi yardımlarda da bulunmasını amaçlıyoruz.</p>

        <h4 class="biz-kimiz_h4">Enerji Hukuku Sempozyumu</h4>

        <p class="biz-kimiz_p">Konferans birimimizin planladığı enerji hukuku sempozyumu ile iş geliştirme uzmanları, hukuk müşavirleri, avukatlar, hakimler, CEO’ları hedefliyoruz. Bu kapsamda Adana Sanayi Odası, Adana Barosu ve Kıvanç Tekstil ile sponsorluk ve destekleri için gerekli görüşmeleri sağlıyoruz. Burada hedeflediğimiz Adana’da Enerji Hukuku üzerine bir farkındalık yaratmaktır. Bu sebeple alanında uzman akademisyenlerden (Prof. Dr. İbrahim ERMENEK) ve EDAC (Energy Disputes Arbitration Center) başkanı Av. Süleyman BOSCA ile görüşmelerimizi sürdürüyoruz.</p>

        <h4 class="biz-kimiz_h4">Marka sürecimiz</h4>

        <p class="biz-kimiz_p">Kurumsallaşabilmek ve hedef kitlemizi daha da büyütebilmek adına Sav Hukuk Araştırmaları Enstitüsü’nün marka tescilini gerçekleştirmek üzere Türk Patent Enstitüsü’ne başvuru için hazırlık sürecimiz devam etmektedir. Bu aşamada alanında uzman akademisyenlerden ve marka vekillerinden destek almaktayız.</p>

        <h4 class="biz-kimiz_h4">Sosyal Medya</h4>

        <p class="biz-kimiz_p">Sosyal medya hesaplarımızda röportaj kesitlerimiz, hukuk sözlüğü ve hap bilgi serilerimiz gibi serilerle takipçilerimizin hukuki terimlere hakimiyet sağlamasına katkıda bulunmayı amaçlıyoruz. </p>

    </div>


{% endblock content %}