{% extends 'main.html' %}

{% block content %}

    <div class="dergi_container">
        {% for sayi in sayi_group %}
            <div class="dergi_div">
                <h3 class="dergi_title"><a href="{% url 'sayi' sayi.slug %}">Sayı: {{ sayi.sayi }}</a></h3>
                <p class="dergi_created"> {{ sayi.created|date:"j F Y" }}</p>

            </div>
        {% endfor %}
    </div>


{% load static %}
<script src="{% static 'savDergi/javascript/dergi.js' %}"></script>
{% endblock content %}