{% extends 'main.html' %}

{% block content %}

    <div class="generic_container">

        {% for duyuru, first_text in duyuru_group %}
            <div class="duyurular_div">
                <a class="duyurular_topic" href="{% url 'duyuru' duyuru.slug%}">{{ duyuru.topic }}</a>
                {% with text=first_text.text|linebreaksbr %}
                <p class="duyurular_text">{{ text|truncatewords:100 }}</p>
                {% endwith %}
                <p class="duyurular_date">{{ duyuru.updated|date:"j F Y" }}</p>

            </div>
        {% endfor %}



    </div>



{% endblock content %}