{% extends 'main.html' %}

{% block content %}

<div class="generic_container">

    <div class="duyuru-sayi_header">
        <h3 class="duyuru-sayi_topic">{{ duyuru.topic }}</h3>
        <p class="duyuru-sayi_date">{{ duyuru.updated|date:"j F Y"}}</p>
    </div>


    {% for duyuru_element in duyurular %}
        {% if duyuru_element.text %}
            <p class="duyuru-sayi_text">{{ duyuru_element.text|linebreaksbr }}</p>
        {% elif duyuru_element.image %}
            <figure class="duyuru-sayi_figure">
            <img class="duyuru-sayi_img" src="{{ duyuru_element.image.url }}" alt="">
            </figure>
        {% endif %}
    {% endfor %}


    <a class="duyuru-sayi_button" href="{% url 'duyurular' %}">Tüm Duyurular</a>
</div>

{% load static %}
<script src="{% static 'savDergi/javascript/duyurular.js' %}"></script>
{% endblock content %}