{% extends 'main.html' %}

{% block content %}

<div class="duyuru_container">

    <div class="duyuru_header">
        <h3 class="duyuru_topic">{{ duyuru.topic }}</h3>
        <p class="duyuru_date">{{ duyuru.updated|date:"j F Y"}}</p>
    </div>

    <p class="duyuru_text">{{ duyuru.text|linebreaksbr }}</p>



    {% for duyuru_element in duyurular %}
        {% if duyuru_element.text %}
            <p class="duyuru_text">{{ duyuru_element.text|linebreaksbr }}</p>
        {% elif duyuru_element.image %}
            <img src="{{ duyuru_element.image.url }}" alt="">
        {% endif %}
    {% endfor %}


    <a class="duyuru_button" href="{% url 'duyurular' %}">Tüm Duyurular</a>
</div>


{% endblock content %}