{% extends 'main.html' %}

{% block content %}

    <div class="gallery_container">
    
        {% for album, image in album_images %}

            <div class="album_div">
                <figure class="album_gallery-figure">
                    <img class="album_gallery-image" src="{{ image.image.url }}" alt="">
                </figure>
                <p class="album_name"><a href="{% url 'album' album.name %}">{{ album.name }}</a></p>
            </div>

        {% endfor %}

    </div>

{% load static %}
<script src="{% static 'savDergi/javascript/galeri.js' %}"></script>

{% endblock content %}