{% extends 'main.html' %}

{% load embed_video_tags %}

{% block content %}

<main>


    <div class="main_welcome">
        <h1>Hoş Geldiniz!</h1>
        <p>Bizler, Çukurova Üniversitesi Hukuk Fakültesi öğrencileri tarafından oluşturulan Sav Derginin yönetim kurulu ekibiyiz.
            Malumunuz üzere hukuk, yalnızca uygulamaya değil aynı zamanda metodolojik yaklaşımlara dayalı bir bilim dalıdır. Dolayısıyla akademik araştırmalar biz müstakbel hukukçuların bir hayli ilgisini çekmekte. Ancak ne yazık ki belli başlı üniversiteler hariç öğrencilerin akademik araştırma safhalarına katılması mümkün değildir. Bu bağlamda, bir grup tutkulu hukuk öğrencileri bizler, geleceğin hukukçularını şekillendirmek amacıyla bir araya gelerek bu projenin temelini atmış bulunuyoruz.</p>

        <a class="main_welcome-button" href="{% url 'misyonumuz' %}"><span>Misyonumuz</span></a>

    </div>


    <div class="duyuru-sayi_general-container">
    <div class="duyuru-sayi_container">
        <div class="duyuru-sayi_header">
            <h3 class="duyuru-sayi_h3">Duyurular</h3>

            <a class="duyuru-sayi_button" href="{% url 'duyurular' %}">Tüm Duyurular</a>
        </div>

        <div class="duyuru-sayi_latest-container">

            {% for duyuru in duyurus %}

                    <div class="duyuru-sayi_element">
                        <a class="duyuru-sayi_element-topic" href="{% url 'duyuru' duyuru.slug %}">{{ duyuru.topic }}</a>
                    </div>

            {% endfor %}

        </div>

    </div>

    <div class="duyuru-sayi_container">
        <div class="duyuru-sayi_header">
            <h3 class="duyuru-sayi_h3">Sayılar</h3>

            <a class="duyuru-sayi_button" href="{% url 'dergi' %}">Tüm Sayılar</a>
        </div>

        <div class="duyuru-sayi_latest-container">

            {% for sayi in sayis %}

                    <div class="duyuru-sayi_element">
                        <a class="duyuru-sayi_element-topic" href="{% url 'sayi' sayi.slug %}">Sayı: {{ sayi.sayi }}</a>
                    </div>

            {% endfor %}

        </div>

    </div>

    </div>


</main>

{% load static %}
<script src="{% static 'savDergi/javascript/duyurular.js' %}"></script>
{% endblock content %}