{% extends 'main.html' %}

{% block content %}

<main>


    <div class="main_welcome">
        <h1>Hoş Geldiniz!</h1>
        <p>Bizler, Çukurova Üniversitesi Hukuk Fakültesi öğrencileri tarafından oluşturulan Sav Derginin yönetim kurulu ekibiyiz.
            Malumunuz üzere hukuk, yalnızca uygulamaya değil aynı zamanda metodolojik yaklaşımlara dayalı bir bilim dalıdır. Dolayısıyla akademik araştırmalar biz müstakbel hukukçuların bir hayli ilgisini çekmekte. Ancak ne yazık ki belli başlı üniversiteler hariç öğrencilerin akademik araştırma safhalarına katılması mümkün değildir. Bu bağlamda, bir grup tutkulu hukuk öğrencileri bizler, geleceğin hukukçularını şekillendirmek amacıyla bir araya gelerek bu projenin temelini atmış bulunuyoruz.</p>

        <a class="main_welcome-button" href="{% url 'misyonumuz' %}"><span>Misyonumuz</span></a>

    </div>

    {% load static %}
    <img class="home-image" src="{% static 'savDergi/media/home-image.webp' %}" alt="">

    <div class="duyuru_container">
        <div class="duyuru_header">
            <h3 class="duyuru_h3">Duyurular</h3>

            <a class="duyuru_button" href="{% url 'duyurular' %}">Tüm Duyurular</a>
        </div>


        <div class="duyuru_latest-container">

            {% for duyuru in duyurus %}

                    <div class="duyuru_element">
                        <a class="duyuru_element-topic" href="{% url 'duyuru' duyuru.id %}">{{ duyuru.topic }}</a>
                        <p class="duyuru_element-text">{{ duyuru.text }}</p>
                    </div>

            {% endfor %}

        </div>
    </div>


</main>

{% endblock content %}