{% extends 'main.html' %}

{% block content %}

    <div class="generic_container">

        {% for konferans in konferanslar %}

            <div class="generic_div">
                <h2><a href="{% url 'konferans' konferans.slug %}" class="konferanslar_baslik">{{ konferans.baslik }}</a></h2>
                <p class="konferanslar_date">{{ konferans.created|date:"j F Y" }}</p>
            </div>

        {% endfor %}

    </div>




{% load static %}
<script src="{% static 'savDergi/javascript/konferanslar.js' %}"></script>
{% endblock content %}