{% extends 'main.html' %}

{% block content %}

    <div class="generic_container">
        <div class="makale-instance_header">

            <h2 class="makale-instance_baslik">{{ makale.baslik }}</h2>
            {% if makale.pdf.url is not None %}
                <a class="makale-instance_pdf" href="{% url 'view_pdf' makale.id %}" target="_blank">PDF</a>
            {% endif %}
        </div>


            <p class="makale-instance_bolum"><b style="color:var(--FONT-COLOR2);">Bölüm: </b>{{ makale.bolum }}</p>


        <p class="makale-instance_yazar">
        {% for yazar in yazarlar %}
            {{ yazar.yazar }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
        </p>
        <div class="makale-instance_oz-container">
            <h4 class="makale-instance_oz-header">Öz</h4>
            <pre class="generic-pre">{{ makale.Oz }}</pre>
        </div>


        <div class="makale-instance_anahtar-container">
            <h4 class="makale-instance_anahtar-header">Anahtar Kelimeler</h4>
            <p class="makale-instance_anahtar-p">
                {% for anahtar in anahtarlar %}
                   {{ anahtar.anahtar }}{% if not forloop.last %}, {% else %}. {% endif %}
                {% endfor %}
            </p>
        </div>
        <div class="makale-instance_kaynak-container">
            <h4 class="makale-instance_kaynak-header">Kaynakça</h4>
            <div class="makale-instance_kaynak-p-div">
                {% for kaynak in kaynaklar %}
                    <p>{{ kaynak.kaynak }}</p>
                {% endfor %}
            </div>
        </div>

        <p class="makale-instance_created">{{ makale.created|date:"j F Y" }}</p>
    </div>

{% endblock content %}