{% extends 'main.html' %}

{% block content %}

    <div class="generic_container">

        {% if metodoloji %}

        {% for metodoloji in metodoloji %}

            <div class="generic_div">
                <h3><a href="{% url 'metodoloji_instance' metodoloji.slug %}" class="metodoloji_baslik">{{ metodoloji.baslik }}</a></h3>
                <p class="metodoloji_date">{{ metodoloji.created|date:"j F Y" }}</p>
            </div>

        {% endfor %}

        {% else %}
            <p class="generic_message">Şu an Metodoloji eğitimi bulunmamaktadır. Lütfen beklemede kalınız.</p>
        {% endif %}

    </div>



{% load static %}
<script src="{% static 'savDergi/javascript/metodoloji.js' %}"></script>
{% endblock content %}