{% extends 'main.html' %}

{% block content %}

<div class="misyonumuz_container">

    <div class="misyonumuz_header">
        <h1 class="default-header">Misyonumuz</h1>
        <p >Sav Dergi projesi ile henüz lisans aşamasında olan hukuk fakültesi öğrencilerine, metodolojik yaklaşımlarla bir alanda derinleşme fırsatı yaratarak hukuk nosyonu kazandırmayı hedefliyoruz.</p>
    </div>



    <div class="misyonumuz_amaclarimiz">
        <h1 class="default-header">Amaçlarımız</h1>
    </div>

    <div class="misyonumuz_amaclarimiz-container">
        
        <figure>
            {% load static %}
            <img class="misyonumuz_amaclarimiz-img" src="{%static 'savDergi/media/angular-roof.webp'%}" alt="">
        </figure>

        <div class="misyonumuz_amaclarimiz-div">
            <p class="misyonumuz_amaclarimiz-p">Eğitim: Lisans öğrencilerine hukuk metodolojisi eğitimi verilerek akademik araştırma yapma kabiliyetinin kazandırılması.</p>
            <p class="misyonumuz_amaclarimiz-p">Söyleşi: Kıymetli öğretim üyeleri ve meslek büyüklerimiz ile söyleşiler yaparak onların tecrübelerini bizlerin tutkusuyla birleştirip geleceğin hukuk sisteminin bugünden şekillenmesini sağlamak.</p>
            <p class="misyonumuz_amaclarimiz-p">Dergi: Eğitimler sonucu kazanılan bakış açısı ve öğrenim metodlarının ögrenciler tarafından kullanılarak danışman hocalar eşliğinde pratiğe dökülen makaleler, bir araya getirilip hakemli bir dergide yayımlanacaktır.</p>
        </div>
    </div>



</div>

{% endblock content %}