{% extends 'main.html' %}

{% block content %}

    <div class="generic_container">

        {% if sava %}
        {% for sava in sava %}

            <div class="generic_div">
                <h3><a href="{% url 'sava_instance' sava.slug %}" class="sava_baslik">{{ sava.baslik }}</a></h3>
                <p class="sava_date">{{ sava.created|date:"j F Y" }}</p>
            </div>

        {% endfor %}
        {% else %}
            <p class="generic_message">Şu an SAVA bulunmamaktadır. Lütfen beklemede kalınız.</p>
        {% endif %}

    </div>

{% load static %}
<script src="{% static 'savDergi/javascript/sava.js' %}"></script>
{% endblock content %}