{% extends 'main.html' %}

{% block content %}
    <div class="makale_container">
    {% for makale in makaleler %}

        <div class="makale_div">
            <h2 class="makale_baslik"><a href="{% url 'makale' sayi.slug makale.slug %}">{{ makale.baslik }}</a></h2>

            {% for yazar in yazarlar %}
                {% if yazar.baslik == makale %}
                    <p>{{ yazar.yazar }}</p>
                {% endif %}
            {% endfor %}

            {% if makale.pdf.url %}
            <a href="{{ makale.pdf.url }}" target="_blank">PDF</a>
            {% endif %}
        </div>
        <br>
    {% endfor %}
    </div>

{% endblock content %}