{% extends 'main.html' %}

{% block content %}

<div class="yazim-kuralları_container">

    <div class="yazim-kuralları_header">
        <h3 class="default-header yazim-kuralları_h3">Yazım Kuralları</h3>

    </div>
    <div class="yazim-kuralları_text-div">
        <p><strong>1.</strong>Dergiye gönderilen yazılar başka bir yerde yayımlanmamış veya yayımlanmak üzere gönderilmemiş olmalıdır.</p>

        <p><strong>2.</strong>Makalenin Türk Dil Kurumu’nun kabul ettiği yazım kurallarına ve bu metinde yer verilen kurallara uygun hazırlanması zorunludur. Bunlara uyulmaması hâlinde Editörlük yazının ilgili kurallara uygun şekilde yeniden düzenlenerek gönderilmesini talep edebilir.</p>

        <p><strong>3.</strong>Yayın Komisyonunca ilk değerlendirmesi yapılan yazılar hakemlere gönderilecek, hakemlerden gelen raporlar doğrultusunda yazının yayımlanmasına, hakemden gelen raporlar çerçevesinde düzeltme istenmesine ya da yazının geri çevrilmesine karar verilecek ve yazar durumdan en kısa sürede haberdar edilecektir. Hakem raporunda düzeltme istenmesi durumunda, yazar tarafından sadece belirtilen düzeltmeler çerçevesinde değişiklikler yapılabilecektir. Dergide, çeviri, karar ve kitap incelemeleri, mevzuat değerlendirmeleri ve bilgilendirici notlara da yer verilecektir. Bu nitelikteki yazıların kabulü veya geri çevrilmesi, Yayın Komisyonu tarafından yapılacaktır. Yazılar yayımlanmak üzere kabul edildiği takdirde, Sav Hukuk Araştırmaları Dergisi,  elektronik ortamda tam metin olarak yayımlamak da dahil olmak üzere, tüm yayın haklarına sahiptir.</p>

        <p><strong>4.</strong>Makale ve Kelime SınırlarıGönderilen çalışmaların başına, makalenin Türkçe ve yabancı dildeki adı, en az 100, en fazla 300 kelimelik Türkçe ve yabancı dilde özetlerinin ve en az üç en fazla on adet anahtar kelimenin Türkçe ve yabancı dilde eklenmesi gerekmektedir. Anahtar kelimelerin ilk harfleri büyük olmalıdır.</p>

        <p><strong>5.</strong>Başlık ve Yazar Adı:Makale başlığının Times New Roman yazı tipi 12 punto tüm harfler büyük, kalın ve ortalanmış şekilde yazılması gereklidir. Konu başlığının sağ altında yazarın adı ve soyadı yer almalıdır.</p>

        <p><strong>6.</strong> ORCID numarası zorunluluğu: İnÜHFD’nde değerlendirilmek üzere gönderilen bütün çalışmalarda eser sahiplerinin<a href="https://orcid.org/signin">ORCID numarası (Bilimsel Araştırmacı Kimlik Numarası)</a>alması ve çalışmalarını ve ORCID numaralarını DergiPark sistemine yüklemeleri gerekmektedir.ORCID Numarası<a href="https://orcid.org/signin">https://orcid.org/signin</a>adresinden alınmaktadır.ORCID numarası olmayan araştırmacıların çalışmaları değerlendirmeye alınmayacaktır.</p>

        <p><strong>7.</strong>Sayfa Yapısı:Sayfa yapısı üstten, alttan ve yanlardan 2,5 cm olmalıdır.</p>

        <p><strong>8.</strong>Metin:Çalışmaların, esas metni en az 4.500 en fazla 20.000 kelimeden oluşmalıdır. Başlık 1 biçimi sadece yazının ana başlığı için kullanılmalıdır. Yazılarda Öz, Abstract, Giriş, Sonuç ve Kaynakça başlıkları Başlık 2 biçimine tanımlanmalıdır. Başlıkların numaralandırılması Romen rakamıyla I. ile başlamalıdır. Başlıkların tümünün ilk satırı 1,25 cm girintili olmalıdır.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;a. Başlıklandırma örneği şu şekilde olmalıdır.</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;MAKALE ADI (BAŞLIK 1)</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;ÖZ (BAŞLIK 2)</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;ABSTRACT (BAŞLIK 2)</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;GİRİŞ (BAŞLIK 2)</p>

        <p>&nbsp; &nbsp; &nbsp; &nbsp;   I. BAŞLIK 3</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A. BAŞLIK 4</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1. Başlık 5</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;a. Başlık 6</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;i. Başlık 7</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;aa. Başlık 8</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;SONUÇ (BAŞLIK 2)</p>

        <p>&nbsp;&nbsp;&nbsp;&nbsp;KAYNAKÇA (BAŞLIK 2)</p>

        <p>Çalışmanın sonunda, çalışmada kullanılan kaynakların yazarlarının soyadlarına göre sıralandığı bir kaynakça bulunmalıdır.</p>

        <p>Çalışmanın ana metni, Times New Roman yazı tipinde, 1,5 satır aralığı ve 12 punto, dipnotları ise, tek satır aralığı ve 10 punto olarak hazırlanmalıdır. Dipnotların 0,75 cm asılı ve aralarında 3 nk boşluk olması gerekir.</p>

        <p>b. Atıflar dipnotta gösterilmelidir. Dipnot ve kaynakçalarda atıf sistemi olarak <strong><em>“TÜHAS”</em></strong> benimsenmiş olup, aşağıda bu atıf sistemine göre uyularak yapılan atıf örnekleri gösterilmiştir. Daha ayrıntılı bilgi için: <a href="https://www.tuhas.com.tr/">https://www.tuhas.com.tr/</a> adresi ziyaret edilebilir.</p>

        <p><strong>Tek Yazarlı Kitaplara Atıf</strong></p>

        <p><strong>Kural 687.-</strong>Tek yazarlı kitaplara dipnotta şu şekilde atıf yapılır (s.936, 944):<a href="https://www.tuhas.com.tr/kural-687.jpg"></a></p>

        {% load static %}
        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-1.png' %}" alt="">
        </figure>

        <p><strong>Kural 688.-</strong>Tek yazarlı kitapların künye bilgileri bibliyografyada şu şekilde gösterilir (s.936-937, 944, 953).<a href="https://www.tuhas.com.tr/kural-688.jpg"></a></p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-2.png' %}" alt="">
        </figure>

        <p><strong>İki Yazarlı Kitaplara Atıf</strong></p>

        <p><strong>Kural 711.-</strong>Dipnotta iki yazarlı kitaplara şu şekilde atıf yapılır (s.944, 1204):</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-3.png' %}" alt="">
        </figure>

        <p><a href="https://www.tuhas.com.tr/kural-711.jpg"></a></p>

        <p><strong>Kural 712.-</strong>Bibliyografyada iki yazarlı kitapların zikredilme usûlü şöyledir (s.945, 1204):</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-4.png' %}" alt="">
        </figure>

        <p><strong>Dört ve Daha Fazla Yazarlı Kitaplara Atıf: Et Al. Kuralı</strong></p>

        <p><strong>Kural 720.-</strong>Atıf yapılan kitap, dört ve daha fazla yazarlı bir kitap ise dipnotta atıfta bütün yazarların isimleri zikredilmez. Çünkü bu durumda yazar isimleri çok yer kaplar. Bu nedenle sadece birinci yazarın ismi verilir. Diğer yazarların isimleri yerine ise Latince “ve diğerleri” anlamına gelen “et al.” ibaresi kullanılır. Buna göre dört veya daha fazla yazarlı kitaplara dipnotta şu şekilde atıf yapılır. Şablon ve örnek (s.948):</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-5.png' %}" alt="">
        </figure>

        <p><strong>Kural 721.-</strong>Bibliyografyada dört ve daha fazla yazarlı kitapların zikredilme usûlü şöyledir (s.945, 1204):</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-6.png' %}" alt="">
        </figure>

        <p><strong>Yazar İsmiyle İlgili Diğer Hususlar</strong></p>

        <p><strong>Kural 725.-</strong>Türkçe yazılan çalışmalarda gerek dipnotta, gerekse bibliyografyada kullanılan Latince et al. ibaresi yerine Türkçe “ve diğerleri” veya “ve arkadaşları” gibi ibarelerin kullanılması yaygındır. TÜHAS bu yaygınlığı gözlemler ve isteğe bağlı olarak “et al” yerine “ve diğerleri” ibaresinin kullanılabileceğini kabul eder. Ancak “et al.” ibaresinin kullanılmasını önerir. Bu ibare, İngilizce veya Fransızca değil, Latincedir ve bütün medenî memleketlerde kullanılmaktadır. Akademik metinlerde atıf usûlleri konusunda medenî memleketlerde yerleşik usûllere uyulmalıdır. Örnek (dipnotta):</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-7.png' %}" alt="">
        </figure>

        <p><strong>Başlığa İlişkin Kurallar</strong></p>

        <p><strong>Kural 753.-</strong>Başlık, kitabın “ismi”dir. Bu nedenle “kitabın başlığı” terimi yerine “kitabın ismi” terimi de kullanılabilir. Başlık, künye bilgisi olarak, önem bakımından yazar adından sonra ikinci sırada olan unsurdur. Bu nedenle başlık, gerek dipnotta, gerekse bibliyografyada, künyede yazar adından sonra ikinci sırada verilir (s.1254). Şablon ve örnek:</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-8.png' %}" alt="">
        </figure>

        <p><strong>Çevirene İlişkin Kurallar</strong></p>

        <p><strong>Kural 782.-</strong>Gerek dipnotlarda, gerekse bibliyografyada verilen künyede, çeviri kitaplar söz konusu olduğunda, çevirenin adı, üçüncü sırada, yani kitabın başlığından sonra, yayın yerinden önce verilir (s.1303). İzleyen şablon ve örneğe uyulur:</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-9.png' %}" alt="">
        </figure>

        <h2>MAKALELERE ATIF USÛLLERİ</h2>

        <p><strong>Genel Olarak</strong></p>

        <p><strong>Kural 903.-</strong>Dipnotta makalelere atıfta verilmesi gereken künye bilgileri sırasıyla şunlardır: (1) Yazar adı ve soyadı, (2) makalenin başlığı, (3) makalenin yayınlandığı derginin adı, (4) derginin cilt, sayı ve tarih bilgileri. Künye bilgileri bu sırayla sıralanırlar. Künye bilgileri arasına virgül konulur (s.968).</p>

        <p><strong>Kural 904.-</strong>Bir makaleden aynen veya mealen alıntı yapılmış ise, dipnotta yapılan atıfta, künye bilgilerinin en sonunda, ayrıca alıntının yapıldığı yer, yer belirleyicisiyle tam olarak gösterilmelidir. Makaleler söz konusu olduğunda yer belirleyicisi, kural olarak sayfa numarasıdır (s.968).</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-10.png' %}" alt="">
        </figure>

        <p><strong>Kural 905.-</strong>Bir makaleden belirli bir alıntı yapmaksızın makalenin bütününe yapılan atıflarda yer belirleyicisi olarak belirli bir sayfa numarası kullanılamaz. Onun yerine makalenin o dergide başlangıç ve bitiş sayfa numarası, yani sayfa aralığı belirtilir (s.936).</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-11.png' %}" alt="">
        </figure>

        <p><strong>Kural 982.-</strong>Çalışmada atıf yapılan makalelerin tam künyeleri bibliyografyada verilir. Bibliyografya yazar önadı ve soyadı tersine çevrilir. Künye bilgilerinin sonunda makalenin sayfa numarası aralığı, yani başlangıç ve bitiş sayfa numaraları aralarına tire işareti konularak gösterilir (s.1034). Bir örnek:</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-12.png' %}" alt="">
        </figure>

        <p><strong>MAHKEME KARARLARINA ATIFTA GENEL VE ORTAK USÛLLER</strong><a href="https://www.tuhas.com.tr/kural-982.jpg"></a></p>

        <p><strong>Kural 494.-</strong>İnternette veya veri tabanlarında yayınlanmış mahkeme kararlarına dipnotta aşağıdaki şablona uygun olarak atıf yapılır (s.682):</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-13.png' %}" alt="">
        </figure>

        <h5>Mahkeme Kararlarına Kısa Künye Atıf</h5>

        <p><strong>Kural 498.-</strong>Tam künye atıfta belirtilmesi gereken unsurlardan en az birini belirtmeden yapılan atıf kısa künye atıftır. Kararın sadece tarihiyle, sadece sayısıyla veya sadece ismiyle zikredilmesi durumunda kısa künye atıf vardır. Keza kararın sadece tarihi ve sayısıyla veya sadece tarihi ve ismiyle veya sadece sayısı ve ismiyle zikredildiği durumlarda da kısa künye atıf vardır (s.667, 685).</p>

        <p><strong>Kural 499.-</strong>İlk geçtiğinde ana metinde veya dipnotta kendisine tam künye atıf yapılan karara, sonraki geçişlerinde kısa künye atıf yapılabilir. Örnek (s.668).</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-14.png' %}" alt="">
        </figure>

        <h5>Mahkeme Kararlarına Atıfta Bilgi Kaynağı</h5>

        <p><strong>Kural 541.-</strong>Mahkeme kararlarına ilk atıfta kararın sadece künye bilgilerini değil, “bilgi kaynakları”nı, yani kararın yayınlandığı,<em>Resmî Gazete, Anayasa Mahkemesi Kararlar Dergisi, Danıştay Dergisi</em>gibi dergi bilgilerini veya kararın yayınlandığı veritabanı bilgilerini de belirtmekte yarar vardır. Örnekler (s.675):</p>

        <figure>
            <img src="{% static 'savDergi/media/yazım_kuralları/image-15.png' %}" alt="">
        </figure>

        <p><strong>Makale Değerlendirme Süreci</strong></p>

        <p><br><strong>A. Gönderme Aşaması</strong><br>1. Hazırlanan çalışmalar, e-mail aracılığıyla dergi editörlüğüne iletilmelidir. Mail adresini ekleyelim.<br>2. Dergide yayınlanmak üzere gönderilen eserin, daha önce hiçbir yerde yayınlanmamış veya yayınlanmak üzere gönderilmemiş olması gerekir.<br>3. Dergide yayınlanmak üzere gönderilen eser ile birlikte, telif hakkı devir formu da doldurularak gönderilecektir.</p>

        <p><br><strong>B. Ön İnceleme Aşaması</strong><br>1. Yayımlanmak üzere <strong>Sav Hukuk Araştırmaları Dergisi’ne</strong> gönderilen değerlendirilecek tüm çalışmalar intihal programı (Turnitin. Ithendicate veya İntihal.net) aracılığıyla incelemeye tâbi tutulacaktır. Bu incelemenin sonucunda intihal oranı %30’u aşan makaleler değerlendirmeye alınmayacaktır.<br>2. Dergide yayınlanmak üzere gönderilen eserler editör kurulu tarafından ön değerlendirmeye tabi tutulur. Ön değerlendirme aşamasında, eser sahiplerinin editör kurulu tarafından talep edilen düzeltmeleri 15 gün içinde tamamlaması gerekir. Düzeltmenin süresinde yapılmaması hâlinde, editör kurulu eser sahibi ile iletişime geçmeksizin eseri reddetme hakkını saklı tutar.</p>
    </div>
</div>

{% endblock content %}