.dergi_container {
    width: 70%;
    margin: 50px auto;

}

.dergi_div {
    display: flex;
    flex-flow: column;
    padding: 10px 25px;
    gap: 20px;
    box-shadow: var(--BOX-SHADOW);
    cursor: pointer;
    margin: 30px 0;
}

.dergi_sayi {
    text-align: end;
}