.dergi_container {
    width: 70vw;
    margin: 50px auto;
    hyphens: auto;

}

.dergi_div {
    display: flex;
    flex-flow: column;
    padding: 10px 25px;
    gap: 20px;
    box-shadow: var(--BOX-SHADOW);
    cursor: pointer;
    margin: 30px 0;
}

.dergi_sayi {
    text-align: end;
}





/*  MEDIA QUERIES */

@media only screen and (max-width: 336px) {

    .dergi_container {
        width: 90vw;
    }

}

@media only screen and (max-width: 600px) {
    .dergi_container {
        width: 90vw;
    }

}

@media only screen and (min-width: 600px) {
    .dergi_container {
        width: 90vw;
    }

}

@media only screen and (min-width: 768px) {
    .dergi_container {
        width: 80vw;
    }

}

@media only screen and (min-width: 992px) {
    .dergi_container {
        width: 75vw;
    }

}

@media only screen and (min-width: 1200px) {
    .dergi_container {
        width: 75vw;
    }


}