.duyurular_div {
    border-radius: 10px;
    background-color: rgb(243, 245, 249);
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.duyurular_container {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    width: 1200px;
    margin: 70px auto;
    gap: 10px;
    padding: 20px;
    box-shadow: var(--BOX-SHADOW);
}

.duyurular_topic {
    display: inline-block;
    font-size: 20px;
    font-family: Inter, sans-serif;
}

.duyurular_topic:hover {
    text-decoration: underline;
    cursor: pointer;
}
