.portre_container {
    width: 90vw;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portre_roportaj-div {
    box-shadow: var(--BOX-SHADOW);
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.portre_baslik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portre_link {
    margin-top: auto;
    width: 50px;
    height: auto;
}

.portre_video-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.portre_collapsable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: var(--BOX-SHADOW);
    padding: 30px;
}


.portre_oz-gecmis-figure {
    float: left;
    width: 300px;
    height: auto;
    margin: 10px 1rem 1rem 0;
}





/*  MEDIA QUERIES */

@media only screen and (max-width: 336px) {
    .portre_container {
        width: 95vw;
    }

    .portre_video {
        width: 90vw;
    }


}

@media only screen and (max-width: 600px) {

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}