.portre_container {
    width: 90vw;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.portre_roportaj-div {
    box-shadow: var(--BOX-SHADOW);
    padding: 30px;
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.portre_baslik {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.portre_link {
    margin-top: auto;
    width: 50px;
    height: auto;
}

.portre_video-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65vw;
    height: 40vw;
    margin: auto;
}


.portre_video-iframe {
    width: 65vw;
    height: 40vw;
    margin: auto;
}

.portre_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}

.portre_spotify-logo {
    width: 30px;
    height: auto;
}


.portre_collapsable {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: var(--BOX-SHADOW);
    padding: 30px;
}


.portre_oz-gecmis-figure {
    float: left;
    width: 300px;
    height: auto;
    margin: 10px 1rem 1rem 0;
}





/*  MEDIA QUERIES */

@media only screen and (max-width: 336px) {
    .portre_container {
        width: 95vw;
    }

    .portre_roportaj-div {
        padding: 10px;

        display: grid;
        grid-template-areas:
                "b l"
                "v v";
    }

    .portre_baslik {
        grid-area: b;
        flex-direction: column;
    }

    .portre_video-iframe {
        width: 80vw;
        height: auto;
        margin: auto;
    }

     .portre_video-div {
         grid-area: v;
        width: 80vw;
        height: auto;
         margin: auto;
    }

     .portre_link {
         grid-area: l;
         width: 25px;
         height: auto;
     }

     .portre_oz-gecmis-img {
         width: 75vw;
         height: auto;
     }

    .portre_oz-gecmis-figure {
        width: 75vw;
        margin: 0;
    }


}

@media only screen and (max-width: 600px) {

    .portre_oz-gecmis-img {
         width: 75vw;
         height: auto;
     }

    .portre_oz-gecmis-figure {
        float: none;
        width: 75vw;
        margin: 10px 0;
    }

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}