/* CSS RESET
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    --FONT-COLOR: rgb(17,17,17);
    --BACKGROUND-COLOR: rgb(249, 249, 249);
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: var(--BACKGROUND-COLOR);
}
/*
  5. Improve media defaults
*/
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input, button, textarea, select {
    font: inherit;
}
/*
  7. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

ul {
    list-style: none;
}

a:link, a:visited {
    color: black;
    text-decoration: none;
}
/* CSS RESET END */

main {
    min-height: 1vh;
}



.navbar {
    height: 100px;
    width: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 200px;
    padding: 10px 100px;
    background-color: var(--BACKGROUND-COLOR);
}

.navbar_list {
    display: flex;
    gap: 30px;
    justify-content: space-around;
}

.navbar_list-element a {
    font-size: 1.2rem;
    font-weight: bold;
}


.navbar_logo {
    width: 150px;
    height: 112px;
}


.main_welcome {
    align-items: center;
    text-align: center;
    width: 600px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main_welcome h1 {
    font-family: Cardo, sans-serif;
    font-size: 38px;
    font-weight: 350;
}

.main_welcome span {
    font-size: 18px;
}

.main_welcome-button {
    background-color: rgb(17, 17, 17);
    color: rgb(249, 249, 249);
    padding: 10px 15px;
    font-weight: bold;
    font-size: 15px;
    font-family: Inter, sans-serif;
    border-radius: 5px;
    cursor: pointer;

}

.main_welcome-button:hover {
    background-color: #636363;
}

.main_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    background-color: var(--BACKGROUND-COLOR);
    padding: 40px 0;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.socials {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.home-image {
    height: 80%;
    width: 80%;
    margin: auto;
    border-radius: 30px;
}

.amac-kapsam h1 {
    display: inline-block;
    font-size: 53px;
    font-weight: 400;
    font-family: Cardo;
}

.amac-kapsam {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.amac-kapsam_first-div {
    display: flex;
    flex-direction: row;
    gap: min(5rem, 6vw);
}

.amac-kapsam_first-div > * {
    flex: 1;
}

.amac-kapsam_image {
    border-radius: 24px;
}

.amac-kapsam h1 {
    margin-top: 150px;
    text-align: center;
}

.amac-kapsam_first-div {
    background-color: rgb(207, 202, 190);
    padding: 104px 200px;
}

.amac-kapsam_first-div p {
    line-height: 1.2;
    display: block;
    font-size: clamp(1.85rem, 1.85rem + ((1vw - 0.2rem) * 1.083), 2.5rem);
    font-family: Cardo;
    font-weight: 400;
}

.amac-kapsam_second-div p {
    display: inline-block;
}

.amac-kapsam_second-div {
    display: flex;
    margin:  0 104px;
    padding: 0 96px;
    gap: min(4rem, 5vw);
}

.amac-kapsam_second-div-p1 {
    font-size: 17px;
    font-family: Inter, sans-serif;
    margin-right: 236px;
    flex: 1;
}

.amac-kapsam_second-div-p2 {
    line-height: 48px;
    flex: 3;
    font-size: 40px;
    font-family: Cardo;
}


body:has(.misyonumuz_container) {
    background: var(--BACKGROUND-COLOR) url("../media/art-gallery.webp") no-repeat;
    background-size: 100%;
    height: 1000px;
    background-attachment: fixed;

}

.misyonumuz_header {
    background-color: var(--BACKGROUND-COLOR);
    padding: 100px 0 20px 0;
}

.misyonumuz_header h1 {
    text-align: center;
    margin-bottom: 100px;
    color: var(--FONT-COLOR);
    font-size: 53px;
    font-family: Cardo;
    font-weight: 400;
}

.misyonumuz_div {
    background-color: var(--BACKGROUND-COLOR);
    padding: 10px 500px 100px 500px;
    margin-bottom: 1000px;
}

.misyonumuz_div p {
    text-align: left;
    color: var(--FONT-COLOR);
    font-family: Inter, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    max-width: 620px;
}


.misyonumuz_amaclarimiz {
    background-color: var(--BACKGROUND-COLOR);
    padding: 150px 10px;
}

.misyonumuz_amaclarimiz h1 {
    text-align: center;
    font-size: 40px;
    font-family: Cardo;
    font-weight: 400;
}

.misyonumuz_amaclarimiz-container {
    background-color: var(--FONT-COLOR);
    min-height: 1000px;
    height: 500px;
    display: flex;
    flex-direction: row;
    gap: min(6.5rem, 8vw);
    padding: 104px 200px;
}

.misyonumuz_amaclarimiz-figure {
    width: 30%;
    height: 30%;
}

.misyonumuz_amaclarimiz-figure img {
    border-radius: 24px;
}

.misyonumuz_amaclarimiz-div {

}

.misyonumuz_amaclarimiz-p {
    color: white;
    font-family: Inter, sans-serif;
    font-style: italic;
    line-height: 26px;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 0;
}
