.makale-instance_container {
    margin: 40px 15vw;
    box-shadow: var(--BOX-SHADOW);
    padding: 15px 20px;
    display: flex;
    flex-flow: column;
    gap: 15px;
}

.makale-instance_header {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-right: 20px;
}

.makale-instance_anahtar-container {
    display: flex;
    align-items: center;
}

.makale-instance_anahtar-header {
    padding-right: 10px;
}


.makale-instance_kaynak-container {
    display: flex;
    flex-flow: column;
}

.makale-instance_kaynak-header {
    padding-right: 10px;
    padding-bottom: 5px;
}


.makale-instance_kaynak-p-div {
    display: flex;
    flex-flow: column;
    gap: 7px;
    padding-left: 25px;
}


.makale-instance_created {
    margin-left: auto;
}