
.metodoloji-instance_header {
    display: flex;
    justify-content: space-between;
}

.metodoloji-instance_images {
    columns: 300px;
}

.metodoloji-instance_figure {
    margin: 0 10px 10px 10px;

}

.metodoloji-instance_figure:hover {
    cursor: zoom-in;
}


/*  MEDIA QUERIES */

@media only screen and (max-width: 336px) {

}

@media only screen and (max-width: 600px) {

    .metodoloji-instance_header {
    flex-direction: column;
}

}

@media only screen and (min-width: 600px) {

}

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 992px) {

}

@media only screen and (min-width: 1200px) {

}