
body:has(.misyonumuz_container) {
    background: var(--BACKGROUND-COLOR) url("../media/art-gallery.webp") no-repeat;
    background-size: cover;
    height: 1000px;
    background-attachment: fixed;

}

.misyonumuz_header {
    background-color: var(--BACKGROUND-COLOR);
    padding: 100px 0 20px 0;
}

.misyonumuz_header h1 {
    margin-bottom: 100px;
    font-size: 53px;
}


.misyonumuz_div {
    background-color: var(--BACKGROUND-COLOR);
    padding: 10px 500px 100px 500px;
    margin-bottom: 1000px;
}

.misyonumuz_div p {
    text-align: left;
    color: var(--FONT-COLOR);
    font-family: Inter, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    max-width: 620px;
    padding: 0 0 0 15px;
}


.misyonumuz_amaclarimiz {
    background-color: var(--BACKGROUND-COLOR);
    padding: 150px 10px;
}

.misyonumuz_amaclarimiz h1 {
    font-size: 50px;
}


.misyonumuz_amaclarimiz-container {
    background-color: var(--FONT-COLOR);
    min-height: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: min(9.5rem, 10vw);
    padding: 150px 104px;
}


.misyonumuz_amaclarimiz-img {
    width: 474px;
    height: 843px;
    border-radius: 24px;
}

.misyonumuz_amaclarimiz-div {
    max-width: 400px;
}

.misyonumuz_amaclarimiz-p {
    color: white;
    font-family: Inter, sans-serif;
    font-style: italic;
    line-height: 26px;
    font-weight: 700;
    font-size: 22px;
    padding: 10px 0;
}



@media screen and (max-width: 600px) {

    .misyonumuz_container {
        width: 100%;
    }

    .misyonumuz_header {
        padding: 60px 0 40px 0;
    }

    .misyonumuz_header h1 {
        margin: 0;
        font-family: Cardo;
        font-size: 40px;
    }

    .misyonumuz_container > *{
        width: 100%;
    }

    .misyonumuz_div p {
        width: 300px;
        margin: auto;
        padding: 30px 0 50px 0;
    }

    .misyonumuz_div {
        width: 100%;
        padding: 0;
        margin-bottom: 100vh;
    }

    .misyonumuz_amaclarimiz-img {
        width: 322px;
        height: 500px;
        border-radius: 5px;
        margin: auto;
    }

    .misyonumuz_amaclarimiz {
        padding: 50px 10px;
    }

    .misyonumuz_amaclarimiz-container > * {
        width: 100%;
    }


    .misyonumuz_amaclarimiz-container {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }


}


@media only screen and (min-width: 600px) {
    .misyonumuz_container {
        width: 100%;
    }

    .misyonumuz_header {
        padding: 60px 0 40px 0;
    }

    .misyonumuz_header h1 {
        margin: 0;
        font-family: Cardo;
        font-size: 40px;
    }

    .misyonumuz_container > *{
        width: 100%;
    }

    .misyonumuz_div p {
        width: 300px;
        margin: auto;
        padding: 30px 0 50px 0;
    }

    .misyonumuz_div {
        width: 100%;
        padding: 10px;
        margin-bottom: 100vh;
    }

    .misyonumuz_amaclarimiz-img {
        width: 322px;
        height: 500px;
        border-radius: 5px;
        margin: auto;
    }

    .misyonumuz_amaclarimiz {
        padding: 50px 10px;
    }

    .misyonumuz_amaclarimiz-container > * {
        width: 100%;
    }


    .misyonumuz_amaclarimiz-container {
        flex-direction: column;
        padding: 30px;
        align-items: center;
    }

}

@media only screen and (min-width: 768px) {
    .misyonumuz_container {
        width: 100%;
    }

    .misyonumuz_header {
        padding: 60px 0 40px 0;
    }

    .misyonumuz_header h1 {
        margin: 0;
        font-family: Cardo;
        font-size: 40px;
    }

    .misyonumuz_container > *{
        width: 100%;
    }

    .misyonumuz_div p {
        width: 70vw;
        margin: auto;
        padding: 30px 0 50px 0;
    }

}

@media only screen and (min-width: 992px) {

    .misyonumuz_amaclarimiz-img {
        width: 80%;
        height: 80%;
        border-radius: 5px;
        margin: auto;
    }
    .misyonumuz_amaclarimiz-container {
        flex-direction: row;
        padding: 40px;
        align-items: center;
        gap: 30px;
    }

}

@media only screen and (min-width: 1200px) {

}